= form_for @list do |f|
  -if @list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :bigin
    = f.datetime_select :bigin, :minute_step => 15
  .field
    = f.label :quit
    = f.time_select :quit, :minute_step => 15
  .field
    = f.label :p_name
    = f.text_field :p_name
  .field
    = f.label :issue
    = f.text_field :issue
  .field
    = f.label :time
    = f.time_select :time, :minute_step => 15
  .actions
    = f.submit 'Save'
